.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
  background-color: #4ec4f3;
}

.sidebarChat_info > h2 {
  font-size: 16px;
  margin: 0px;
}

.sidebarChat_info > p {
  margin: 0px;
}

.sidebarChat_info {
  margin-left: 15px;
}

.add-new-chat-title {
  color: white;
  height: 20px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color:   white;
}
